body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-layout {
  background-color: #1a1a1c !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark-background {
	background-color: #1a1a1c !important;
}

/* If logged in, don't make it dark theme :asxcontent: */
.authenticated {
  background-color: #fff !important;
}

/* If logged in, add spacing for the navbar */
.authenticated .app-content {
  margin-left: 190px;
}


@media (max-width: 1024px) {
	.authenticated .app-content {
    margin: 0 auto;
    width: 90vw;
  }
  
  .game-cal {
    margin: 0;
  }

  .fc-toolbar {
    flex-direction: column-reverse; 
  }
}


/*eawea */
.btns-aprove {
  margin-left: auto;
}

.btns-aprove button {
  width: 30px !important;
  height: 30px !important;
  display: inline-flex;
  justify-content: center;
  margin-left: 15px
}