.sidebar-nav {
	z-index: 100;
	background-color: #111;
	position: fixed;
	width: 140px;
	height: 100vh;
	box-shadow: -11px 5px 15px 0 #000;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.sidebar-nav img {
	width: 75px;
}

.sidebar-nav .logo-area {
	height: 140px;
	border-bottom: #252525;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.sidebar-nav ul {
	list-style-type: none;
	display: flex;
	padding-left: 0;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.sidebar-nav li {
	font-size: 33px;
	cursor: pointer;
	height: 100px;
	transition: .3s all;
	color: white;
}


.sidebar-nav li a {
	color: white;
}

.sidebar-nav li a:hover {
	color: #1976d2;
}

.sidebar-nav li:hover {
	color: #1976d2;
}

.sidebar-nav .is-active {
	color: #1976d2;
}

.menu-container {
	height: 100%;
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
	flex-direction: column;
}

/* Couldn't find a spot */
.app-content {
	height: 100%;
	min-height: 100vh;
	margin-bottom: 50px;
}



/* Mobile Nav Bar */
.mobile-top_bar {
	flex-direction: row-reverse;
	display: none;
	width: 100%;
	padding: 15px 20px;
	background-color: #111;
	color: white;
	font-size: 19px;
	justify-content: space-between;
	align-items: center;
}

.mobile-top_bar p {
	margin: 0;
}

.mobile-top_bar i {
	cursor: pointer;
}

@media (max-width: 1024px) {
	/*  */
	.sidebar-nav {
		transition: .3s width;
		overflow: hidden;
		width: 0;
	}

	.mobile-top_bar {
		display: flex;
	}

	.sidebar-nav img {
		width: 50px;
	}

	.sidebar-nav li {
		font-size: 22px;
	}
}