.filter-bar {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.select-school {
    padding-right: 5px;
}

.select-level {
    padding-left: 5px;
    padding-right: 5px;
}

.select-team {
    padding-left: 5px;
}