#root > section > main > div > div > div.ant-card.ant-card-bordered.ant-card-contain-tabs > div.ant-card-body > table > thead > th:nth-child(1)
{
    font-weight: bold;

}

#root > section > main > div > div > div.ant-card.ant-card-bordered.ant-card-contain-tabs > div.ant-card-body > table > thead > th:nth-child(2)
{
    font-weight: bold;
}

#root > section > main > div > div > div.ant-card.ant-card-bordered.ant-card-contain-tabs > div.ant-card-body > table > thead > th:nth-child(3)
{
    font-weight: bold;
}

#root > section > main > div > div > div.ant-card.ant-card-bordered.ant-card-contain-tabs > div.ant-card-body > table > thead > th:nth-child(4)
{
    font-weight: bold;
}

#root > section > main > div > div > div.ant-card.ant-card-bordered.ant-card-contain-tabs > div.ant-card-body > table > thead > th:nth-child(5)
{
    font-weight: bold;
}

#root > section > main > div > div > div.ant-card.ant-card-bordered.ant-card-contain-tabs > div.ant-card-body > table > thead > th:nth-child(6)
{
    font-weight: bold;
}

#root > section > main > div > div > div.ant-card.ant-card-bordered.ant-card-contain-tabs > div.ant-card-body > table > thead > th:nth-child(7)
{
    font-weight: bold;
}

#root > section > main > div > div > div.ant-card.ant-card-bordered.ant-card-contain-tabs > div.ant-card-body > table > thead > th:nth-child(8)
{
    font-weight: bold;
}